<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>UnitsInStock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="allign-middle">
                <img src="{{tempProduct.imageUrl}}" height="75" alt="imageUrl">
            </td>
            <td class="allign-middle"> {{tempProduct.name}}</td>
            <td class="allign-middle"> {{tempProduct.unitPrice}}</td>
            <td class="allign-middle"> {{tempProduct.unitInStock}}</td>

        </tr>
    </tbody>
</table>

